name: Kneackebrot Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: thumbv7em-none-eabihf

    - name: Install cargo-make
      run: cargo install cargo-make

    - name: Build Firmware
      run: cargo make uf2 --release

    - name: List files to find UF2

      run: find . -name "*.uf2"

    - name: Archive Firmware
      uses: actions/upload-artifact@v4
      with:
        name: Kneackebrot-Firmware

        path: "**/*.uf2"
        if-no-files-found: error
        retention-days: 5
